# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# To-Do List Application specific ignores
tasks_db.json
.venv/

# Library Book Management specific ignores
books_db.json

